* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "MS Gothic";
}

div.black {
    background-color: rgb(8, 14, 27);
    color: white;
    padding: 10px;
}

.mini-container {
    width: fit-content;
    max-width: 600px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    margin: 30px 10px;
    border-radius: 0 3px 3px 0;

    h1 {
        font-size: 16px;
    }
    a {
        color: rgb(255, 87, 185);
    }
}