* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: "MS Gothic";
    color: white;
    background-color: black;

    display: flex;
    flex-direction: column;
}

.page-content {
    flex: 1;
    display: flex;
    min-height: 0;
    flex-direction: row;
    align-items: stretch;
}

.col-1 {
    width: 600px;
    flex-shrink: 0;
}

.col-2 {
    flex: 1;
    display: flex;
    min-height: 0;
}

.col-3 {
    width: 600px;
    flex-shrink: 0;
}

.iframe-container, .iframe-container iframe {
    width: 100%;
    height: 100%;     
}

#manasamaimg {
    z-index: -1;
    filter: invert(20%);
    position: absolute;
    height: 100vh;
    right: 0;
}

.mini-container {
    width: fit-content;
    max-width: 600px;
    padding: 10px;

    text-align: justify;

    display: flex;
    flex-direction: column;
    gap: 12px;

    margin: 30px 10px;
    border-radius: 0 3px 3px 0;
    animation: 1s all ease;

    h1 {
        font-size: 16px;
    }
    h2 {
        font-size: 14px;
    }
    h3 {
        font-size: 10px;
    }
        
}

a {
    color: white;
}

.navbar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items : center;
}

.navbar ul{
    display: flex;
    gap: 20px;  
    li {
        list-style-type: none;
    }
}

.ascii-art {
    font-family: monospace;
    white-space: pre;   
}

#mapa-do-site-container {
    margin: auto;
    .ascii-art {
        font-size: 13px;
    }
}

#updates-container {
    border-bottom: 1px solid white;
    max-height: 140px;
    overflow-y: scroll;
}
